<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DribbleMatch - 농구 메이트를 만나보세요!</title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/signup/signup_step.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/common/common.js"></script>
        <th:block layout:fragment="css"></th:block>
        <th:block layout:fragment="script"></th:block>
    </head>
      <body>
          <div th:replace="fragments/header::header"></div>
          <div th:replace="fragments/flow-bar::flow-bar"></div>
          <div layout:fragment="content"></div>
      </body>
</html>