.container form {
    width: 60%;
}
.container .terms {
    height: 15rem;
}
.container .term-title {
    color: #525252;
}
.container .terms .first-depth-title {
    color: #2c2c2c;
}
section .container .terms .second-depth-title {
    color: #646464;
}
section .container .terms .term-content {
    font-size: 1rem;
    color: #5c5c5c;
}
section .agree-checkbox-div {
    cursor: pointer;
}

/*section .container button {*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    background-color: #f38c48;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    margin-top: 1rem;*/
/*}*/

section .container button:hover {
    background-color: #f8802d;
}

@media (max-width: 767px) {
    section .container {
        padding: 0;
        margin-top: -3rem;
    }

    section .container form {
        width: 90%;
    }
    section .agree-container .term-title {
        width: 95%;
        font-size: 1rem;
    }
    section .agree-container .terms {
        width: 90%;
    }
    section .agree-checkbox-div {
        width: 100%;
    }
    section .agree-container button {
        margin-top: 0;
    }
    section .agree-container .terms .first-depth-title {
        font-size: 1.2rem;
    }
    section .agree-container .terms .sub-title {
        font-size: 1rem;
    }
    section .agree-container .terms .term-content {
        font-size: 0.8rem;
    }
    section .agree-checkbox-div .agree-text {
        font-size: 0.8rem;
    }

    .container .term-title {
        font-size: 1rem !important;
    }

    .container .first-depth-title {
        font-size: 1.2rem !important;
    }
    .container .second-depth-title {
        font-size: .9rem !important;
    }
    .container .term-content {
        font-size: 1rem;
        color: #5c5c5c;
    }
}