section h2{
    text-align: center;
    font-size: 2rem;
}

section .signup-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

section .signup-container h2 {
    text-align: center;
    font-size: 1.5rem;
}

section .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 70%;
}

section .signup-container .label-container {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    display: flex;
    position: relative;
}

section .signup-container label {
    width: 20%;
}

section .signup-container .label-container .label-explain {
    font-size: 0.8rem;
    color: #888888;
    height: 1rem;
}

section .signup-container input[type="text"],
section .signup-container input[type="email"],
section .signup-container input[type="password"] {
    width: 100%;
    height: 1.7rem;
    border-radius: 0.3rem;
    border: 0.2rem solid #e0e0e0;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 10px;
}

section .signup-container button {
    padding: 10px;
    background-color: #f38c48;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

section .signup-container button:hover {
    background-color: #f8802d;
}

section .signup-container .info-container {
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}

section .signup-container .info-container .check-nickname {
    position: absolute;
    right: -4%;
    top: 6%;
    height: 40%;
    border: none;
    background-color: #f38c48;
    cursor: pointer;
}

section .signup-container .info-container .check-nickname:hover {
    background-color: #f8802d;
}

section .signup-container select {
    width: 105%;
    height: 3.2rem;
    border-radius: 0.3rem;
    border: 0.2rem solid #e0e0e0;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 10px;
    display: flex;
}

section .signup-container .info-container .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

section .signup-container .red-point {
    color: red;
    position: absolute;
    top: -2%;
    left: -3%;
    font-size: 2rem;
}

section .signup-container .image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}
section .signup-container .image-container input[type="file"]::file-selector-button {
    width: 7rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    display: flex;
    background-color: #d5d5d5;
    margin-bottom: 1rem;
}
section .signup-container .image-container input[type="file"]{
    width: 15rem;
    height: 5rem;
}
section .signup-container .image-div {
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    background-color: #eeeeee;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .signup-container .image-div img {
    max-width: 105%;
    max-height: 105%;
}

@media (max-width: 767px) {
    section .signup-container {
        padding: 0;
        margin-top: -3rem;
        width: 100%;
    }
    section .signup-container label {
        width: 30%;
    }

    section .signup-container form {
        margin-top: 1rem;
        width: 100%;
    }

    section .signup-container .label-container {
        font-weight: normal;
        flex-direction: column;
    }
    section .signup-container .label-container .label-explain {
        font-size: 0.67rem;
        height: 0;
    }
    section .signup-container select {
        width: 100%;
        height: 2.5rem;
        padding: 0.3rem;
    }
    section .signup-container .info-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    section .signup-container .red-point {
        color: red;
        position: absolute;
        top: 12%;
        left: 1%;
        font-size: 1rem;
    }
    .title-label {
        margin-left: 1rem;
    }

    section .signup-container .info-container .checkbox-container {
        flex-direction: column;
        margin-top: 0;
        flex-wrap: wrap;
        height: 5rem;
        width: 18rem;
        display: flex;
        justify-content: center;
    }
    .checkbox-div {
        font-size: 0.8rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .signup-container .info-container .position-label {
        text-align: right;
        width: 5rem;
        height: 0.9rem;
    }

    section .signup-container .image-container {
        margin-top: 1rem;
    }
    section .signup-container .image-container input[type="file"] {
        width: 7rem;
        height: 4rem;
    }
    section .signup-container .image-container {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    section .signup-container .image-div {
        width: 12rem;
        height: 12rem;
        margin-right: 0.4rem;
    }
}