<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage/userInfo.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/myPage/userInfo.js}"></script>
</th:block>

<div layout:fragment="content" class="container p-0 d-flex flex-column align-items-center">
    <div class="col-12 col-md-7 pb-3 d-flex justify-content-between">
        <div class="img-div lg-ver">
            <img class="w-100" id="team-image"
                 th:src="@{/api/image(imagePath=${user.imagePath})}"
                 alt="팀 이미지">
        </div>
        <div class="col-5 mt-3 text-end">
            <div class="mb-2 fs-4 fw-semibold text-dark-first" th:text="${user.nickName}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.positionString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.ageAndGender}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.skillString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.regionString}"></div>
            <div class="col-12 mt-3 d-flex gap-3">
                <div class="col-2 align-content-center fw-semibold" th:text="${'Lv.' + user.level}">Lv.1</div>
                <div class="level-bar col-10 d-flex flex-column align-items-center justify-content-center rounded-pill">
                    <div class="percent-bar-div">
                        <div class="percent-bar rounded-pill" th:style="'width: ' + ${user.experience} + '%'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7 p-3 d-flex justify-content-between border rounded">
        <div class="col-4 d-flex flex-column text-center">
            <div class="fw-semibold">승패</div>
            <div>
                12<span class="text-success">승</span> 1<span class="text-danger">패</span>
            </div>
        </div>
        <div class="border-start"></div>
        <div class="col-4 position-relative d-flex flex-column text-center">
            <i class="bi bi-question-circle position-absolute" style="left: 85%;"></i>
            <div class="fw-semibold">칭호</div>
            <div>
                골밑의 지배자
            </div>
        </div>
        <div class="border-start"></div>
        <div class="col-4 px-3 position-relative d-flex flex-column text-center">
            <i class="bi bi-question-circle position-absolute" style="left: 85%;"></i>
            <div class="fw-semibold">매너 점수</div>
            <div class="d-flex justify-content-center">
                <div class="col-12 position-relative">
                    <hr class="opacity-100">
                    <div class="h-50 position-absolute top-25 border-start border-dark" style="top: 25%; left: 0;"></div>
                    <div class="h-50 position-absolute top-25 border-start border-dark" style="top: 25%; left: 25%;"></div>
                    <div class="h-50 position-absolute top-25 border-start border-dark" style="top: 25%; left: 50%;"></div>
                    <div class="h-50 position-absolute top-25 border-start border-dark" style="top: 25%; left: 75%;"></div>
                    <div class="h-50 position-absolute top-25 border-start border-dark" style="top: 25%; left: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7 d-flex flex-column">
        <div class="menu-title">경기 기록</div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToEndedMatchingList('TEAM')">종료된 팀 경기 ></div>
            <div class="menu-right-item" onclick="goToReservedMatchingList('TEAM')">예약된 팀 경기 ></div>
        </div>
        <hr>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToEndedMatchingList('PERSONAL')">종료된 개인 경기 ></div>
            <div class="menu-right-item" onclick="goToReservedMatchingList('PERSONAL')">예약된 개인 경기 ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/matching/create')">경기 생성 ></div>
            <div class="menu-right-item" onclick="goToPage('/page/openLater')">내 주변 경기 보기 (오픈 예정) ></div>
        </div>

        <div class="menu-title">기타</div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">프로필 수정 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="goToPage('/page/team/teamList?myPage=1')">내 팀 보기 ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">칭호 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="goToPage('/page/openLater')">나의 커리어 (오픈 예정) ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">환경설정 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="logout()">로그아웃 ></div>
        </div>
    </div>
</div>
</html>