<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage/myPage.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/myPage/myPage.js}"></script>
</th:block>

<div layout:fragment="content" class="container p-0 d-flex flex-column align-items-center">
    <div class="col-12 col-md-7 pb-3 d-flex justify-content-between">
        <div class="img-div lg-ver">
            <img class="w-100" id="team-image"
                 th:src="@{/api/image(imagePath=${user.imagePath})}"
                 alt="팀 이미지">
        </div>
        <div class="col-5 mt-3 text-end">
            <div class="mb-2 fs-4 fw-semibold text-dark-first" th:text="${user.nickName}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.positionString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.ageAndGender}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.skillString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.regionString}"></div>
            <div class="col-12 mt-3 d-flex gap-3">
                <div class="col-2 align-content-center fw-semibold" th:text="${'Lv.' + user.level}">Lv.1</div>
                <div class="level-bar col-10 d-flex flex-column align-items-center justify-content-center rounded-pill">
                    <div class="percent-bar-div">
                        <div class="percent-bar rounded-pill" th:style="'width: ' + ${user.experience} + '%'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7 p-3 d-flex justify-content-between border rounded shadow-sm">
        <div class="col-4 d-flex flex-column text-center">
            <div class="fw-semibold mb-2">승패</div>
            <div>
                <span class="number-font fw-500">12</span><span class="text-primary fw-500">승</span>
                <span class="number-font fw-500">1</span><span class="text-danger fw-500">패</span>
            </div>
        </div>
        <div class="border-start"></div>
        <div class="col-4 position-relative d-flex flex-column text-center">
            <i class="bi bi-question-circle position-absolute cs-p" style="left: 85%;" id="badge-info-btn"></i>
            <div class="fw-semibold mb-2">칭호</div>
            <div>
                골밑의 지배자
            </div>
            <div class="balloon balloon_up_left hide-toggle col-12 bg-white p-2 z-1" style="top: 70%; right: -67.5%;" id="badge-info-balloon">
                <div class="text-primary fw-semibold text-start">
                    칭호
                </div>
                <div class="text-secondary fs-7 text-start fw-500">
                    경기를 진행하거나, 기타 활동으로<br>
                    칭호를 획득할 수 있습니다.<br>
                    자신의 대표 칭호를 설정할 수 있고<br>
                    대표 칭호는 다른 플레이어가 볼 수 있습니다.<br>
                    <span class="fw-semibold text-primary cs-p">
                        칭호 바로가기
                    </span>
                </div>
            </div>
        </div>
        <div class="border-start"></div>
        <div class="col-4 px-3 position-relative d-flex flex-column text-center">
            <i class="bi bi-question-circle position-absolute cs-p" style="left: 85%;" id="manner-info-btn"></i>
            <div class="fw-semibold">매너 점수</div>
            <div class="d-flex justify-content-center">
                <div class="col-12 position-relative">
                    <hr class="text-secondary border-2 opacity-100">
                    <div class="h-25 position-absolute top-25 border-start border-2 border-secondary" style="top: 37%; left: 0;"></div>
                    <div class="h-25 position-absolute top-25 border-start border-2 border-secondary" style="top: 37%; left: 25%;"></div>
                    <div class="h-25 position-absolute top-25 border-start border-2 border-secondary" style="top: 37%; left: 50%;"></div>
                    <div class="h-25 position-absolute top-25 border-start border-2 border-secondary" style="top: 37%; left: 75%;"></div>
                    <div class="h-25 position-absolute top-25 border-start border-2 border-secondary" style="top: 37%; left: 100%;"></div>
                    <img class="pointer-img position-absolute" src="/image/icon/etc/pointer_reverse.png" style="left: 50%;"  alt="pointer_reverse.png"/>
                    <div class="number-font position-absolute"  style="top: 65%; left: 50%; transform: translateX(-150%);">50점</div>
                    <div class="number-font position-absolute"  style="top: 65%; left: 50%; transform: translateX(50%);">50점</div>
                </div>
            </div>
            <div class="balloon balloon_up_right hide-toggle col-12 bg-white p-2 z-1" style="top: 70%; right: -9%;" id="manner-info-balloon">
                <div class="text-danger fw-semibold text-start">
                    매너 점수
                </div>
                <div class="text-secondary fs-7 text-start fw-500">
                    경기를 진행하면서 다른 플레이어들이<br>
                    매너에 대한 점수를 매기게 됩니다.<br>
                    매너 점수가 높으면<br>
                    경험치 등의 혜택이 있습니다.
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7 mt-5 d-flex flex-column gap-3">
        <div class="col-12 p-2 d-flex flex-column border rounded shadow-sm">
            <div class="fw-semibold ms-2 mb-2">
                내 정보
            </div>
            <div class="col-12 d-flex justify-content-center gap-4 border-bottom">
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/myRecord_icon.png" style="height: 1.5rem;margin-right: .5rem;" />
                    <div>나의 기록</div>
                </div>
                <div class="border-start"></div>
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/record_icon.png" style="height: 1.5rem;margin-right: .4rem;" />
                    <div>경기 기록</div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center gap-4 border-bottom">
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p" id="profile-edit">
                    <img src="/image/icon/myPage/editProfile_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>프로필 수정</div>
                </div>
                <div class="border-start"></div>
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/badge_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>칭호</div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center gap-4">
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/myTeam_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>내가 속한 팀</div>
                </div>
                <div class="border-start"></div>
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/friend_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>친구</div>
                </div>
            </div>
        </div>

        <div class="col-12 p-2 d-flex flex-column border rounded shadow-sm">
            <div class="fw-semibold ms-2 mb-2">
                플랫폼
            </div>
            <div class="col-12 d-flex justify-content-center gap-4 border-bottom">
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/clutchShotInfo_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>클러치샷 소개</div>
                </div>
                <div class="border-start"></div>
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/rule_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>진행 규칙</div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center gap-4 border-bottom">
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/setting_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>설정</div>
                </div>
                <div class="border-start"></div>
                <div class="basic-hover col-5 m-1 px-3 py-1 d-flex justify-content-center fs-6 rounded-pill text-center cs-p">
                    <img src="/image/icon/myPage/friend_icon.png" style="height: 1.5rem; margin-right: .4rem;" />
                    <div>회원 탈퇴</div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>