<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage/userInfo.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/myPage/userInfo.js}"></script>
</th:block>

<div layout:fragment="content" class="container p-0 d-flex flex-column align-items-center">
    <div class="col-12 col-md-7 pb-3 d-flex justify-content-between border-bottom">
        <div class="img-div lg-ver">
            <img class="w-100" id="team-image"
                 th:src="@{/api/image(imagePath=${user.imagePath})}"
                 alt="팀 이미지">
        </div>
        <div class="col-5 mt-3 text-end">
            <div class="mb-2 fs-4 fw-semibold text-dark-first" th:text="${user.nickName}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.positionString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.ageAndGender}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.skillString}"></div>
            <div class="fs-6 text-dark-second" th:text="${user.regionString}"></div>
            <div class="col-12 mt-3 d-flex justify-content-between">
                <div class="level" th:text="${'Lv.' + user.level}">Lv.1</div>
                <div class="level-bar">
                    <div class="percent-bar" th:style="'width: ' + ${user.experience} + '%'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-div">
        <div class="menu-title">경기 기록</div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToEndedMatchingList('TEAM')">종료된 팀 경기 ></div>
            <div class="menu-right-item" onclick="goToReservedMatchingList('TEAM')">예약된 팀 경기 ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToEndedMatchingList('PERSONAL')">종료된 개인 경기 ></div>
            <div class="menu-right-item" onclick="goToReservedMatchingList('PERSONAL')">예약된 개인 경기 ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/matching/create')">경기 생성 ></div>
            <div class="menu-right-item" onclick="goToPage('/page/openLater')">내 주변 경기 보기 (오픈 예정) ></div>
        </div>

        <div class="menu-title">기타</div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">프로필 수정 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="goToPage('/page/team/teamList?myPage=1')">내 팀 보기 ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">칭호 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="goToPage('/page/openLater')">나의 커리어 (오픈 예정) ></div>
        </div>
        <div class="div-line"></div>
        <div class="menu-line">
            <div class="menu-left-item" onclick="goToPage('/page/openLater')">환경설정 (오픈 예정) ></div>
            <div class="menu-right-item" onclick="logout()">로그아웃 ></div>
        </div>
    </div>
</div>
</html>