.left-menu-container .left-menu-hide {
    width: 24rem;
    height: 100%;
    top: 0;
    right: -24rem;
    transition: right 0.5s ease;
    z-index: 100;
}
.left-menu-container .left-menu {
    top: 0;
    right: 0;
    transform: translateZ(0);
    will-change: transform;
}

.left-menu-container .dark-area {
    z-index: 10;
}

.left-menu-container .left-menu-header {
    height: 3rem;
}
.left-menu-container .nickname {
    width: 14rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.left-menu-container .menu-icon {
    width: 1rem;
}

.left-menu-container .left-menu-header-btn {
    width: 6rem;
    border: #757575 solid 0.15rem;
    color: #434343;
}

.left-menu-container .one-menu {
    width: 20rem;
}
.left-menu-container .menu-first-depth-title {
    height: 2rem;
    font-weight: 500;
    color: #434343;
}
.left-menu-container .menu-first-depth-title:hover .left-menu-icon {
    filter: invert(1) brightness(1000%);
}
.left-menu-container .menu-first-depth-title:hover {
    background-color: #ff9819;
    color: white;
}
.left-menu-container .menu-second-depth-list {
    display: none;
    width: 85%;
    gap: 1rem;
}
.left-menu-container .second-depth-menu {
    height: 2rem;
}
.left-menu-container .second-depth-menu:hover {
    background-color: #ff9819;
    color: white;
}
.left-menu-container .left-menu-icon {
    width: 1.15rem;
}

.left-menu-container .depth-line {
    display: none;
    width: 1rem;
    height: 3rem;
    top: -100%;
    border-bottom: .15rem #adadad solid;
    border-left: .15rem #adadad solid;
    left: -8.3%;
}
.left-menu-container .depth-line.first {
    height: 1.7rem;
    top: -33%;
}
.left-menu-container .right-chevrons {
    margin-bottom: .1rem;
}

@media (max-width: 767px) {
    .left-menu-container .left-menu-hide {
        width: 100%;
        height: 200%;
        border-radius: 1rem;
        left: 0;
        top: 100%;
    }
    .left-menu-container .left-menu {
        top: 5%;
    }
    .left-menu-container .nickname {
        width: 6rem;
        padding: .3rem !important;
        margin-left: .5rem;
    }
    .left-menu-container #logout-btn {
        margin-right: 1rem;
    }
    .left-menu-container .menu-icon {
        display: none;
    }

    .left-menu-container .slide-bar-div {
        width: 100%;
        height: 2rem;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .left-menu-container .slide-bar {
        width: 50%;
        height: 1rem;
        display: block !important;
        border-top: .3rem #e3e3e3 solid;
    }
    .left-menu-container .left-menu-content {
        height: 42%;
        overflow: scroll;
    }
    .left-menu-container .menu-first-depth-title {
        padding-left: 1rem !important;
    }
    .left-menu-container .one-menu {
        width: 95%;
    }
}