.pagination {
    width: 100%;
    gap: 0.3rem;
}
.pagination button:disabled {
    cursor: unset;
    background-color: #f4f4f4;
}
.pagination .current-page {
    background-color: #f4f4f4;
}
.no-data {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
    font-size: 1.2rem;
    color: #acacac;
}