.input-form {
    width: 50rem;
}
.time-picker {
    width: 10.5rem;
    height: 11rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
    border: #d1d1d1 0.01rem solid;
    top: 100%;
    left: 0;
}
.time-picker-list {
    padding: 0.1rem;
    overflow: scroll;
}
.time-picker-element {
    width: 3.3rem;
    height: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.1rem;
    border: none;
    flex-shrink: 0;
    background-color: #ffffff;
}
.time-picker-element:hover {
    background-color: #f3f3f3;
}
.time-picker-list::-webkit-scrollbar{
    display:none;
}
.time-picker .select {
    border: none;
    background-color: #ff9819;
    color: #ffffff;
}

@media (max-width: 767px) {
    .basic-title {
        margin-bottom: 0 !important;
    }
    .input-form {
        width: 100%;
    }
    .basic-input-title {
        font-size: 1.3rem;
    }
    .basic-input-title, .sub-input-div {
        flex-direction: column !important;
    }
    .sub-input-div {
        gap: 0rem !important;
    }
    .basic-input-title span {
        margin: 0 !important;
        font-size: .9rem !important;
    }
    .sub-input-title {
        width: 100%;
        text-align: start !important;
    }
    .radio-mobile {
        flex-wrap: wrap;
    }
    #max-num, #hour {
        width: 6rem !important;
    }
    .time-picker {
        width: 100%;
        height: 40%;
        position: fixed !important;
        top: 100%;
        left: 0;
        transform: translate(0, -100%);
    }
    .time-picker-list {
        width: 33.3%;
    }
    .time-picker-element {
        width: 100%;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}