.title {
    margin-top: 5rem;
    font-size: 2rem;
}

.matching-list {
    width: 70%;
    display: ruby;
}
.matching-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.matching {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.7rem;
    transition: transform 0.3s;
    border: 0.1rem solid #ddd;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.team-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.matching:hover {
    transform: translateY(-5px);
}

.vs {
    font-size: 2rem;
    align-content: center;
}

.team-info {
    width: 40%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.team-name {
    width: 85%;
    font-size: 2rem;
    text-align: center;
    overflow-y: scroll;
    background-color: #3644ff;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem;
    white-space: nowrap;
}
.team-score {
    width: 60%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: 0.2rem solid #ddd;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}

.matching-info-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.submit-btn {
    margin-top: 1rem;
    width: 30%;
    font-size: 1rem;
    background-color: #00247e;
    color: white;
    border-radius: 1rem;
    border: unset;
    padding: 0.5rem;
}
.submit-btn:hover {
    background-color: #020f56;
}

.not-matching-btn {
    margin-top: 1rem;
    width: 30%;
    font-size: 1rem;
    background-color: #c55555;
    color: white;
    border-radius: 1rem;
    border: unset;
    padding: 0.5rem;
}
.not-matching-btn:hover {
    background-color: #813838;
}

@media (max-width: 767px) {
    .title {
        margin-top: 1rem;
        font-size: 1.7rem;
    }
    .matching-list {
        width: 100%;
        text-align: center;
    }
    .team-name {
        width: 80%;
        font-size: 1rem;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .team-score {
        width: 70%;
    }
    .team-info {
        height: 6rem;
    }
    .matching {
        width: 85%;
    }
    .vs {
        font-size: 1.5rem;
        align-content: center;
    }
    .btn-div {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .submit-btn, .not-matching-btn {
        width: 40%;
    }
}