.bi-search {
    right: 17%;
}

.plus-icon:hover {
    background-color: #e4e4e4;
    border-radius: .5rem;
}

.plus-menu {
    width: 10rem;
    bottom: -10%;
    left: 120%;
}
.plus-menu .menu-item:hover {
    background-color: #5c5c5c;
    color: #ffffff;
}

.matching-card {
    height: 6rem;
    border: 0.1rem solid #ddd;
    transition: transform 0.3s;
}
.matching-card:hover {
    transform: translateY(-5px);
}

.click-div {
    width: 5rem;
    height: 4rem;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.click-div.first {
    left: 5%
}
.click-div.second {
    left: 25%;
}
.click-div.third {
    left: 65%;
}
.click-div.fourth {
    left: 85%;
}



@media (max-width: 767px) {
    .selected-date {
        color: #ffffff;
        background-color: #ff9819;
    }

    .fs-3 {
        font-size: 1.1rem !important;
    }
    .font-mobile {
        font-size: .7rem !important;
    }

    .bi-search {
        right: 23%;
    }
    .plus-menu {
        left: unset;
        right: 0;
        bottom: 130%;
    }

    .matching-card {
        height: auto;
        border: none;
        border-bottom: 0.1rem solid #ddd;
    }
}