.h7-line {
    height: 7rem;
    border-left: #afafaf .15rem solid;
}
.hour-div {
    width: 3.5rem;
    top: 2.5rem;
    left: -1.7rem;
    background-color: #afafaf;
}
.round-border {
    border-radius: 1rem;
    border: #afafaf .15rem solid;
}
.member-card {
    height: 7rem;
    min-width: 17rem;
    border: 0.1rem solid #ddd;
    transition: transform 0.3s;
}
.member-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 767px) {
    .hour-div {
        top: -.5rem;
    }
}