<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/post/postList.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/post/postList.js}"></script>
</th:block>

<div layout:fragment="content">
    <section class="content">
        <div class="title">
            <h2>공지 사항</h2>
        </div>
        <div class="post-list-div">
            <div class="divider"></div>
            <div class="post-list" th:each="post : ${postList}">
                <div class="post-item">
                    <div class="post-title" th:text="${post.title}" th:onclick="'goToPostDetail('+ ${post.id} +')'"></div>
                    <div class="date-text" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">
                        2024-12-25
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </section>
</div>
</html>