<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<header th:fragment="header" class="header h-auto mb-5 d-flex-changeable flex-column align-items-center justify-content-between">
    <div class="up_header d-flex align-items-center">
        <img class="logo-img my-3 cs-p" src="/image/logo.png" alt="logo.png" onclick="goToPage('/page')">
        <label class="ms-auto">
            <input type="text" class="searchBox ps-2 border-0 rounded opacity-50" placeholder="지역, 경기명으로 경기 검색"/>
        </label>
        <img class="userInfo-icon mx-4 my-0 cs-p" src="/image/icon/etc/userInfo_icon.png" alt="userInfo_icon.png"
             onclick="goToPage('/page/user/myPage')">
        <img class="menu-icon me-4 cs-p" src="/image/icon/etc/menu_icon.png" alt="menu_icon.png" onclick="openMenu()">
    </div>
    <div class="down-header d-flex align-items-center">
        <div class="menu-items mt-1 d-flex align-items-center justify-content-center rounded" id="ranking-menu"
             onclick="goToPage('/page/openLater')">
            <img class="down-menu-icon me-4" src="/image/icon/header/ranking_icon.png" alt="ranking_icon.png">
            <div>랭킹</div>
        </div>
        <div class="menu-items mt-1 d-flex align-items-center justify-content-center rounded" id="team-menu"
             onclick="goToPage('/page/team/teamList')">
            <img class="down-menu-icon me-4" src="/image/icon/header/team_icon.png" alt="team_icon.png">
            <div>팀</div>
        </div>
        <div class="menu-items mt-1 d-flex align-items-center justify-content-center rounded" id="match-menu"
             onclick="goToPage('/page/matching/matchingList')">
            <img class="down-menu-icon me-4" src="/image/icon/header/basketball.png" style="margin-bottom: 0.5rem"
                 alt="basketball.png">
            <div>경기</div>
        </div>
        <div class="menu-items mt-1 d-flex align-items-center justify-content-center rounded" id="competition-menu"
             onclick="goToPage('/page/openLater')">
            <img class="down-menu-icon me-4" src="/image/icon/header/competition_icon.png" alt="competition_icon.png">
            <div>대회</div>
        </div>
        <div class="menu-items mt-1 d-flex align-items-center justify-content-center rounded" id="board-menu"
             onclick="goToPage('/page/openLater')">
            <img class="down-menu-icon me-4" src="/image/icon/header/board_icon.png" alt="board_icon.png">
            <div>커뮤니티</div>
        </div>
    </div>
</header>
</body>
</html>