<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<body>
<div th:fragment="matchingPop">
    <div class="w-100 h-100 position-fixed top-0 start-0 bg-black opacity-50"></div>
    <div class="matching-pop container p-2 d-flex flex-column position-fixed top-50 start-50 bg-white gap-2">
        <div class="d-flex flex-column align-items-center fs-3">
            점수 입력
            <span class="fs-6 second-color">승/패 처리를 위한 점수 입력입니다. 전체 점수 합산 혹은 세트 스코어를 입력해주세요</span>
        </div>
        <div th:each="input : ${inputList}" class="card w-100 h-auto p-2 d-flex flex-column bg-gray gap-2">
            <input type="hidden" id="matching-id" th:value="${input.id}"/>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="w-20 text-center fs-5" th:text="${input.upTeamName}">최강팀</div>
                <input type="number" class="basic-input w-25" placeholder="점수 입력"/>
                <div class="fs-5">VS</div>
                <input type="number" class="basic-input w-25" placeholder="점수 입력"/>
                <div class="w-20 text-center fs-5" th:text="${input.downTeamName}">초강력팀</div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div th:text="${#temporals.format(input.startAt, 'yyyy / MM / dd (HH:mm)')}">2025-01-25 (월)</div>
                <div th:text="${input.regionString}">서울 영등포구 당산동</div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                <button type="button" class="basic-btn" onclick="inputScore(this)">점수 입력</button>
                <button type="button" class="basic-btn" onclick="notMatching(this)">경기 미진행</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>