.matching-list-div {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-select {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 4rem;
}
.date-list {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}
.date-div-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #eaeaea;
    border-radius: 1rem;
    overflow: hidden;
    width: 50rem;
    justify-content: center;
}
.date-div {
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    width: 6rem;
    font-size: 1.3rem;
    opacity: 50%;
    padding: 0.5rem;
    position: relative;
}
.date-selected-div {
    opacity: 100%;
}
.before-icon, .after-icon {
    height: 1rem;
    cursor: pointer;
}
.now-date-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: absolute;
    left: 50%; /* 부모의 왼쪽에서 50% 이동 */
    transform: translateX(-50%);
}
.now-date-border {
    border: black 0.15rem solid;
    border-radius: 1rem;
    width: 6rem;
    height: 3rem;
}

.date-list-mobile {
    display: none;
}

.matching-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.matching-card {
    width: 100%;
    height: 5rem;
    border: 0.1rem solid #ddd;
    border-radius: 8px;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    gap: 1rem;
}
.matching-card:hover {
    transform: translateY(-5px);
}

.matching-time {
    width: 15%;
    font-size: 2rem;
    color: #646464;
}

.matching-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}
.matching-name-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}
.matching-name {
    font-size: 1.5rem;
}
.is-only-women {
    height: 1.2rem;
    align-content: center;
    font-size: 0.8rem;
    border-radius: 1rem;
    background-color: #bb63cc;
    color: #ffffff;
    padding: 0.1rem 0.5rem 0;
}
.matching-kind {
    font-size: 1rem;
}

.hour-div {
    height: 100%;
    align-content: center;
    font-size: 2rem;
    width: 15%;
    color: #646464;
}

.join-info-div {
    height: 100%;
    width: 25%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.join-info {
    height: 45%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.join-people-img-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.matching-join-img {
    height: 100%;
}
.more-people-div {
    height: 100%;
    width: 10%;
    align-content: center;
    position: relative;
}
.more-people-img {
    width: 1rem;
}
.speech-bubble {
    position: absolute;
    background: #f38c48;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    width: 3rem;
    height: 1rem;
    top: 0%;
    left: 200%;
    color: #ffffff;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    border: 0.8rem solid transparent;
    border-right-color: #f38c48;
    border-left: 0;
    margin-top: -0.75rem;
    margin-left: -0.5rem;
}

.content-header {
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 20rem;
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    background-color: #dfdfdf;
    align-items: center;
}
.header-content {
    width: 30%;
    height: 95%;
    border-radius: 1rem;
    border: #000000 solid 0.2rem;
    background-color: white;
}

.content-title-div {
    display: flex;
    justify-content: center;
    height: 25%;
    position: relative;
}
.content-title {
    font-size: 1.3rem;
    text-align: center;
    align-content: center;
    margin: 0;
    height: 100%;
}
.more-info {
    font-size: 2.5rem;
    margin: 0;
    align-content: center;
    position: absolute;
    top: 18%;
    left: 90%;
    cursor: pointer;
}

.grade-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.grade {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 0.15rem solid #e7e7e7;
}
.first-grade {
    width: 10%;
    font-size: 1.2rem;
    color: #eed554;
}
.second-grade {
    width: 10%;
    font-size: 1.2rem;
    color: #d8d8d8;
}
.third-grade {
    width: 10%;
    font-size: 1.2rem;
    color: #88593c;
}
.last-grade {
    width: 10%;
    font-size: 1.2rem;
    color: #000000;
}
.grade-content {
    cursor: pointer;
}

.recent-matching-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.recent-matching {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.time-string {
    width: 30%;
    font-size: 1.2rem;
}
.time-matching-name {
    width: 60%;
    cursor: pointer;
    overflow: scroll;
    white-space: nowrap;
}


@media (max-width: 767px) {
    .content-header {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        height: 25rem;
        width: 105%;
    }
    .header-content {
        width: 80%;
        height: 45%;
    }
    .content-title-div {
        height: 15%;
        margin-bottom: 0.5rem;
    }
    .content-title {
        font-size: 1rem;
        height: 100%;
    }
    .time-string {
        width: 30%;
        font-size: 0.7rem;
    }
    .more-info {
        font-size: 1.5rem;
        top: -4%;
        left: 88%;
    }
    .time-matching-name {
        font-size: 0.7rem;
    }

    .date-select {
        width: 105%;
    }
    .date-list {
        display: none;
    }
    .date-list-mobile {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
        background-color: #eaeaea;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem;
    }
    .date-list-mobile::-webkit-scrollbar {
        display: none;
    }
    .date-div-mobile {
        width: 3rem;
        padding: 0.3rem 0.7rem;
        border-radius: 2rem;
        font-size: 0.8rem;
        color: black;
    }
    .select-date-div {
        background: #ff8e00;
        color: white;
    }

    .matching-list-div {
        margin-top: 0rem;
        width: 100%;
    }
    .matching-list-header {
        align-items: center;
        gap: 0.5rem;
    }
    .create-matching-btn {
        width: 4rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
    .matching-list-header .search-bar {
        width: 60%;
    }

    .matching-card {
        width: 97%;
        padding: 0.2rem;
        gap: 0;
        flex-direction: column;
        height: 8rem;
    }
    .matching-time {
        width: 100%;
        font-size: 1.5rem;
        color: #646464;
        text-align: center;
    }
    .matching-time h1{
        margin: 0;
    }
    .matching-name {
        font-size: 1.1rem;
    }
    .is-only-women {
        height: 1rem;
        font-size: 0.7rem;
        padding: 0.1rem 0.3rem 0;
    }
    .matching-info {
        width: 100%;
        flex-grow: 0;
    }
    .matching-kind {
        font-size: 0.8rem;
    }
    .matching-region {
        font-size: 0.8rem;
    }
    .hour-div {
        font-size: 1.4rem;
        width: 100%;
    }
    .join-info-div {
        display: none;
    }
}