@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* layout */
html, body {
    font-family: 'Paperlogy', sans-serif !important;
    width: 100%;
    height: 100%;
}
header {
    min-width: 65rem;
}
header.simple-header {
    min-width: unset;
}
.basic-title {
    font-size: 1.8rem;
    font-weight: 500;
}
.basic-input-title {
    font-size: 1.5rem;
    font-weight: 400;
}

/* button */
.basic-btn {
    width: 6rem;
    height: 2.2rem;
    background-color: #ff9819 !important;
    color: white !important;
    border-radius: 2rem !important;
    border: none !important;
}
.basic-btn.long-ver {
    width: 20rem;
}
.basic-btn:hover {
    color: #ffffff !important;
    background-color: #ff8700 !important;
}

/* input */
.basic-input {
    height: 2rem;
    border-radius: .3rem;
    border: .15rem #c1c1c1 solid;
    padding: .2rem .6rem;
}
.basic-input.long-ver {
    width: 10rem;
}
.basic-input.super-long-ver {
    width: 25rem;
}

/* style */
.d-flex-changeable {
    display: flex;
}
.base-color {
    color: #ff9819 !important;
}
.sub-color {
    color: #7b7b7b !important;
}
.base-bg-color {
    background-color: #ff9819 !important;
}

/* custom-style */
.w-15 {
    width: 15%;
}
.w-60 {
    width: 60%;
}
.cs-p {
    cursor: pointer;
}
.hide-toggle {
    display: none;
}
.custom-radio-btn {
    width: 50%;
    border: #e7e7e7 .13rem solid;
    border-radius: .5rem;
    background-color: #ffffff;
    color: #000000;
}
.custom-radio-btn.active, .custom-radio-btn:hover {
    background-color: #ff9819;
    color: #ffffff;
}

@media (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }

    header {
        min-width: 0;
    }
}