@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* layout */
html, body {
    font-family: 'Paperlogy', sans-serif !important;
    width: 100%;
    height: 100%;
}
button {
    color: #000000;
}
header {
    min-width: 65rem;
}
header.simple-header {
    min-width: unset;
}
.container {
    min-width: 1320px;
}
.number-font {
    font-family: 'Pretendard-Regular', sans-serif;
}

/** utility **/
.basic-title {
    font-size: 1.8rem;
    font-weight: 500;
}
.basic-input-title {
    font-size: 1.5rem;
    font-weight: 400;
}
.img-div-6 {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button */
.basic-btn {
    height: 2.2rem;
    background-color: #ff9819 !important;
    color: white !important;
    border-radius: 2rem !important;
    border: none !important;
}
.basic-btn.big-ver {
    height: 3rem;
    font-size: 1.2rem;
    border-radius: .5rem !important;
}
.basic-btn:hover {
    color: #ffffff !important;
    background-color: #ff8700 !important;
}

/* input */
.basic-input {
    height: 2rem;
    border-radius: .3rem;
    border: .15rem #c1c1c1 solid;
    padding: .2rem .6rem;
    background-color: #ffffff;
    color: #000000;
}
.basic-input:disabled {
    background-color: #f5f5f5;
}

/* style */
.d-flex-changeable {
    display: flex;
}
.base-color {
    color: #ff9819 !important;
}
.first-color {
    color: #2f2f2f !important;
}
.second-color {
    color: #7b7b7b !important;
}
.third-color {
    color: #a2a2a2 !important;
}
.base-bg-color {
    background-color: #ff9819 !important;
}
.second-bg-color {
    background-color: #fffaf5 !important;
}
.third-bg-color {
    background-color: #f5f5f5; !important
}

/* for-bootstrap */
.cs-p {
    cursor: pointer;
}
.fw-500 {
    font-weight: 500;
}
.hide-toggle {
    display: none;
}
.show-only-mobile {
    display: none;
}

/* height */
.h-3r {
    height: 3rem;
}

/* custom-style */
.custom-radio-btn {
    width: 50%;
    border: #e7e7e7 .13rem solid;
    border-radius: .5rem;
    background-color: #ffffff;
    color: #000000;
}
.custom-radio-btn.active, .custom-radio-btn:hover {
    background-color: #ff9819;
    color: #ffffff;
}

.hover-scroll::-webkit-scrollbar {
    width: 0;
    height: .5rem;
}
.hover-scroll:hover::-webkit-scrollbar {
    width: auto;
}
.hover-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

/** fixed **/
.top-follow {
    height: 10%;
    top: -100px;
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.bottom-follow {
    height: 10%;
    bottom: -100px;
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (max-width: 767px) {

    /** layout **/
    html, body {
        overflow-x: hidden;
    }
    header {
        min-width: 0;
    }
    .container {
        min-width: unset;
    }


    /** style **/
    .flex-column-m {
        flex-direction: column !important;
    }
    .d-flex-m {
        display: flex !important;
    }
    .border-none-mobile {
        border: none !important;
    }

    .basic-title {
        margin-bottom: 0 !important;
    }
    .basic-input-title {
        font-size: 1.3rem;
    }
    .show-only-mobile {
        display: flex !important;
    }
    .hide-only-mobile {
        display: none !important;
    }
}