.left-menu-hide {
    width: 24rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    background-color: white;
    overflow-y: scroll;
    transition: left 0.5s ease;
}

.left-menu {
    width: 24rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 74%;
    z-index: 100;
    background-color: white;
    overflow-y: scroll;
    transition: left 0.5s ease;
    transform: translateZ(0);
}

.dark-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 10;
}

.left-menu-header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #727272 solid 0.1rem;
}
.left-menu-header .user-info-icon {
    width: 12%;
    height: 100%;
}
.left-menu-header .user-info-icon img {
    width: 100%;
    height: 100%;
}
.left-menu-header .nickname {
    font-size: 1.5rem;
    align-content: center;
    text-align: left;
    width: 35%;
    cursor: pointer;
    overflow: scroll;
    white-space: nowrap;
    padding: 0 1rem;
}
.left-menu-header .menu-icon {
    width: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.left-menu-header .logout-btn {
    font-size: 1rem;
    cursor: pointer;
    width: 5rem;
    background-color: white;
    border: black solid 0.15rem;
    height: 70%;
    border-radius: 1rem;
}
.left-menu-header .header-login-btn {
    margin-left: 2rem;
    font-size: 1rem;
    cursor: pointer;
    width: 5rem;
    background-color: white;
    border: black solid 0.15rem;
    height: 70%;
    border-radius: 1rem;
}

.one-left-menu {
    width: 100%;
}
.one-left-menu .menu-big-title {
    margin-top: 2rem;
    font-size: 1.5rem;
    border-bottom: #d3d3d3 solid 0.1rem;
    font-weight: bold;
    padding-left: 2rem;
}
.one-left-menu .small-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: #d3d3d3 solid 0.1rem;
    padding-top: 0.3rem;
}
.one-left-menu .small-menu {

    width: 100%;
    height: 2rem;
    align-content: center;
    font-size: 1rem;
    padding-left: 1rem;
}
.one-left-menu .small-menu:hover {
    background-color: #888888;
}

@media (max-width: 767px) {
    .left-menu {
        width: 16rem;
        right: 0;
        overflow-x: hidden;
        left: unset;
    }

    .left-menu-header {
        height: 2rem;
    }
    .left-menu-header .header-login-btn {
        margin-left: 1rem;
        width: 8rem;
        color: black;
    }
    .left-menu-header .menu-icon {
        width: 2rem;
        margin-right: 1rem;
        cursor: pointer;
    }

    .one-left-menu .menu-big-title {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: normal;
    }
    .one-left-menu .small-menu {
        height: 1.4rem;
        font-size: 0.9rem;
    }

    .left-menu-header .nickname {
        font-size: 1.2rem;
        width: 35%;
        padding: 0;
        margin-left: 0.3rem;
    }
    .left-menu-header .logout-btn {
        width: 6.5rem;
        color: black;
    }
}