.level-bar {
    height: 2rem;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #ff6a28 0%, #fdff00 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.percent-bar-div {
    width: 97%;
    height: 70%;
}
.percent-bar {
    height: 100%;
    background: linear-gradient(to right, #ff6a28, #fdff00);
}
.pointer-img {
    width: 1.5rem;
    height: 1.8rem;
    top: 54%;
    transform: translateX(-50%);
}
.menu-icon {
    height: 1.5rem;
    margin-right: .4rem;
}

@media (max-width: 767px) {
    .img-div.lg-ver {
        width: 9rem;
        height: 9rem;
        min-width: 9rem;
        min-height: 9rem;
    }
    .level-bar {
        height: 1.5rem;
    }
}