<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DribbleMatch - 농구 메이트를 찾으시나요?</title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/createMatching.css">
        <link rel="stylesheet" href="/css/layout.css">
    </head>

    <body>
        <header>
            <div class="up_header">
                <img class="logo" src="/image/logo.png" alt="logo.png">
                <input type="text" class="searchBox" placeholder="지역, 경기명으로 경기 검색"/>
                <img class="userInfo-icon" src="/image/icon/userInfo_icon.png" alt="userInfo_icon.png">
                <img class="menu-icon" src="/image/icon/menu_icon.png" alt="menu_icon.png">
            </div>
            <div class="down-header">
                <div class="menu-items">
                    <img class="menu-icon" src="/image/icon/ranking_icon.png">
                    <h3>랭킹</h3>
                </div>
                <div class="menu-items">
                    <img class="menu-icon" src="/image/icon/team_icon.png">
                    <h3>팀</h3>
                </div>
                <div class="menu-items">
                    <img class="menu-icon" src="/image/icon/competition_icon.png">
                    <h3>대회</h3>
                </div>
                <div class="menu-items">
                    <img class="menu-icon" src="/image/icon/board_icon.png">
                    <h3>커뮤니티</h3>
                </div>
            </div>
        </header>

        <section class="content">
            <div class="title">
                <h2>경기 생성</h2>
            </div>

            <form class="input-form">
                <div class="label-container">
                    <label for="name">경기명</label>
                    <div class="label-explain">재미있는 경기명은 사람들을 끌어들입니다.</div>
                </div>
                <div class="info-container">
                    <input type="text" id="name" name="name" />
                </div>

                <div class="label-container">
                    <label>경기 인원</label>
                    <div class="label-explain"> 경기 진행 인원을 선택해주세요. 한 팀 기준으로 선택해주세요.</div>
                </div>
                <div class="info-container">
                    <div class="member-num-div" id="member-num">
                        <div class="sub-title">
                            경기 참여 인원
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="1v1" name="member-num" value="1">
                            <label for="1v1">1 VS 1</label>
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="2v2" name="member-num" value="2">
                            <label for="2v2">2 VS 2</label>
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="3v3" name="member-num" value="3">
                            <label for="3v3">3 VS 3</label>
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="4v4" name="member-num" value="4">
                            <label for="4v4">4 VS 4</label>
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="5v5" name="member-num" value="5" checked>
                            <label for="5v5">5 VS 5</label>
                        </div>
                    </div>
                    <div class="member-max-num-div" id="member-max-num">
                        <div class="sub-title">
                            최대 인원
                        </div>
                        <div class="max-num">
                            <input type="number" id="max-num" value="5" />
                            <span>명</span>
                        </div>
                    </div>
                </div>

                <div class="label-container">
                    <label for="datetime">경기 날짜 / 시간</label>
                    <div class="label-explain">경기를 진행할 날짜와 시간을 선택해주세요.</div>
                </div>
                <div class="info-container">
                    <div class="datetime-div" id="datetime">
                        <div class="date-select">
                            <label for="date">날짜 선택</label>
                            <input type="date" id="date" />
                        </div>
                        <div class="time-select">
                            <label for="time">시작 시간 선택</label>
                            <input type="time" id="time" />
                        </div>
                        <div class="hour-select">
                            <label for="hour">진행 시간 선택</label>
                            <input type="number" id="hour" value="1" />
                            <span>시간</span>
                        </div>
                    </div>
                </div>

                <div class="label-container">
                    <label for="place">경기 장소</label>
                    <div class="label-explain">경기장이 정해져 있다면 경기장 정보를, 없다면 경기를 원하는 지역을 입력해주세요.</div>
                </div>
                <div class="info-container" id="place">
                    <div class="select-two-div">
                        <div class="radio-div">
                            <input type="radio" id="stadium" name="stadium_region_select" value="stadium" onclick="click_stadium()" checked>
                            <label for="stadium">경기장 선택</label>
                        </div>
                        <div class="radio-div">
                            <input type="radio" id="region" name="stadium_region_select" value="region" onclick="click_region()">
                            <label for="region">지역 선택</label>
                        </div>
                    </div>
                    <div class="stadium-info" id="stadium-info">
                        <label for="stadium-string">경기장</label>
                        <input type="text" id="stadium-string" disabled>
                        <button type="button" class="select-stadium">경기장 선택</button>
                    </div>
                    <div class="region-info" id="region-info" style="display: none">
                        <label class="sub-title">지역</label>
                        <div class="region-select-div">
                            <label for="siDo">시/도</label>
                            <select class="region-select" id="siDo" name="siDo" onchange="getSiGunGuList()" required>
                                <option value="">시/도</option>
                                <option th:each="siDo : ${siDoList}" th:value="${siDo}" th:text="${siDo}"></option>
                            </select>

                            <label for="siGunGu">시/군/구</label>
                            <select class="region-select" id="siGunGu" name="siGunGu" required disabled>
                                <option>시/군/구</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" class="submit-btn" onclick="createMatching()">경기 생성</button>
            </form>
        </section>

        <footer>
            <div class="footer-info">
                <p>About DribbleMatch | Team | Support | FAQ | Contact</p>
            </div>
            <div class="social-links">
                <a href="#"><i class="icon facebook"></i></a>
                <a href="#"><i class="icon twitter"></i></a>
                <a href="#"><i class="icon instagram"></i></a>
            </div>
        </footer>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/createMatching.js"></script>
    </body>
</html>