<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<body>
<section class="notice">
  <div>
    <h3 style="text-align: center;">배너</h3>
  </div>
</section>

<section class="content">

</section>

<footer>
  <div class="footer-info">
    <p>About DribbleMatch | Team | Support | FAQ | Contact</p>
  </div>
  <div class="social-links">
    <a href="#"><i class="icon facebook"></i></a>
    <a href="#"><i class="icon twitter"></i></a>
    <a href="#"><i class="icon instagram"></i></a>
  </div>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/common/common.js"></script>
</body>
</html>