<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<body>
<section class="notice">
  <div>
    <h3 style="text-align: center;">배너</h3>
  </div>
</section>

<section class="content">
  <div class="date-select">
    <h2>8월 16일</h2>
    <img class="calendar-img" src="/image/icon/calendar_icon.png">
  </div>
  <div class="game-list">
    <div class="stadium-image-div">
      <img class="stadium-image" src="/image/stadium_image.jpg">
    </div>
    <div class="place-div">
      <h2 class="place-name">경희고등학교 농구장</h2>
      <h2 class="place-info">동대문구</h2>
    </div>
    <div class="member-num-div">
      <h2 class="member-num">3 VS 3</h2>
      <h2 class="member-num">팀 경기</h2>
    </div>
    <div class="time-div">
      <h2 class="time">12 : 00</h2>
    </div>
    <div class="recruit-div">
      <button type="button" class="recruit">모집중</button>
    </div>
  </div>
  <div class="game-list">
    <div class="stadium-image-div">
      <img class="stadium-image" src="/image/stadium_image.jpg">
    </div>
    <div class="place-div">
      <h2 class="place-name">경희고등학교 농구장</h2>
      <h2 class="place-info">동대문구</h2>
    </div>
    <div class="member-num-div">
      <h2 class="member-num">3 VS 3</h2>
      <h2 class="member-num">팀 경기</h2>
    </div>
    <div class="time-div">
      <h2 class="time">12 : 00</h2>
    </div>
    <div class="recruit-div">
      <button type="button" class="recruit">모집중</button>
    </div>
  </div>
  <div class="game-list">
    <div class="stadium-image-div">
      <img class="stadium-image" src="/image/stadium_image.jpg">
    </div>
    <div class="place-div">
      <h2 class="place-name">경희고등학교 농구장</h2>
      <h2 class="place-info">동대문구</h2>
    </div>
    <div class="member-num-div">
      <h2 class="member-num">3 VS 3</h2>
      <h2 class="member-num">팀 경기</h2>
    </div>
    <div class="time-div">
      <h2 class="time">12 : 00</h2>
    </div>
    <div class="recruit-div">
      <button type="button" class="recruit">모집중</button>
    </div>
  </div>
</section>

<footer>
  <div class="footer-info">
    <p>About DribbleMatch | Team | Support | FAQ | Contact</p>
  </div>
  <div class="social-links">
    <a href="#"><i class="icon facebook"></i></a>
    <a href="#"><i class="icon twitter"></i></a>
    <a href="#"><i class="icon instagram"></i></a>
  </div>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/common/common.js"></script>
</body>
</html>