<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/login/findInfo.js}"></script>
</th:block>

<div layout:fragment="content">
    <section class="content">
        <div class="login-container">
            <h2>비밀번호 찾기</h2>
            <form action="/page/login/resetPassword" method="post" onsubmit="return checkFindPasswordInput()">
                <div class="input-div">
                    <div class="btn-container">
                        <input type="email" id="email" name="email" placeholder="이메일">
                    </div>
                    <div class="btn-container">
                        <input type="text" id="phone" name="phoneNum" placeholder="전화번호">
                        <button class="inner-btn" id="send_message_btn" type="button" onclick="requestAuth()">인증 요청</button>
                    </div>
                    <div class="btn-container">
                        <input type="text" id="auth-code" name="auth-code" placeholder="인증번호" readonly>
                        <button class="inner-btn" id="auth-btn" type="button" disabled onclick="checkAuth()">인증 확인</button>
                        <div class="timer" id="timer">05:00</div>
                    </div>
                </div>
                <div class="btn-div">
                    <button type="submit" class="login-btn">비밀번호 초기화</button>
                </div>
            </form>
        </div>
    </section>
</div>
</html>