<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/login_layout}">
<th:block layout:fragment="script">
    <script th:src="@{/js/login/resetPassword.js}"></script>
</th:block>

<div layout:fragment="content" class="container login-container d-flex flex-column align-items-center">
    <div class="basic-title mt-5 mb-4">비밀번호 초기화</div>
    <form id="changePasswordForm">
        <div class="d-flex flex-column justify-content-center gap-3">
            <input type="hidden" id="user-id" th:value="${userId}">
            <input type="password" class="basic-input" id="password" name="password" placeholder="새 비밀번호 입력">
            <input type="password" class="basic-input" id="re-password" name="re-password" placeholder="새 비밀번호 확인">
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <button type="submit" class="basic-btn long-ver mb-5">비밀번호 변경</button>
        </div>
    </form>
</div>
</html>