<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/login/findInfo.js}"></script>
</th:block>

<div layout:fragment="content">
    <section class="content">
        <div class="login-container">
            <h2>비밀번호 초기화</h2>
            <form>
                <div class="input-div">
                    <input type="hidden" id="user-id" th:value="${userId}">
                    <input type="password" id="password" name="password" placeholder="새 비밀번호 입력">
                    <input type="password" id="re-password" name="re-password" placeholder="새 비밀번호 확인">
                </div>
                <div class="btn-div">
                    <button type="button" class="login-btn" onclick="changePassword()">비밀번호 변경</button>
                </div>
            </form>
        </div>
    </section>
</div>
</html>