<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/join_layout}">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/signup/agree.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/signup/agree.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section>
            <div class="agree-container">
                <h2>약관 동의</h2>
                <form id="terms-form">
                    <div class="text">
                        <p>DribbleMatch 이용 약관</p>
                            방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                        방은비 바보 멍청이<br>
                    </div>
                    <label>
                        <input type="checkbox" id="agree" name="agree" required> 약관에 동의합니다
                    </label>
                    <button type="button" onclick="go_userInfo()">다음</button>
                </form>
            </div>
        </section>
    </div>
</html>