<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/signup/complete.css">
  <link rel="stylesheet" href="/css/signup/signup_step.css">
</head>
<body>
<header>
  <div class="up_header">
    <img class="logo" src="/image/logo.png" alt="logo.png">
    <input type="text" class="searchBox" placeholder="지역, 경기명으로 경기 검색"/>
    <img class="userInfo-icon" src="/image/icon/userInfo_icon.png" alt="userInfo_icon.png">
    <img class="menu-icon" src="/image/icon/menu_icon.png" alt="menu_icon.png">
  </div>
  <div class="down-header">
    <div class="menu-items">
      <img class="menu-icon" src="/image/icon/ranking_icon.png">
      <h3>랭킹</h3>
    </div>
    <div class="menu-items">
      <img class="menu-icon" src="/image/icon/team_icon.png">
      <h3>팀</h3>
    </div>
    <div class="menu-items">
      <img class="menu-icon" src="/image/icon/competition_icon.png">
      <h3>대회</h3>
    </div>
    <div class="menu-items">
      <img class="menu-icon" src="/image/icon/board_icon.png">
      <h3>커뮤니티</h3>
    </div>
  </div>
</header>

<section>
  <h2>회원 가입</h2>
  <div class="step-progress">
    <div class="step step-active">
      <div class="step-circle">1</div>
      <div class="step-label">약관 동의</div>
    </div>
    <div class="step step-active">
      <div class="step-circle">2</div>
      <div class="step-label">회원 정보 입력</div>
    </div>
    <div class="step step-active">
      <div class="step-circle">3</div>
      <div class="step-label">선수 정보 입력</div>
    </div>
    <div class="step step-now">
      <div class="step-circle">4</div>
      <div class="step-label">완료</div>
    </div>
  </div>

  <div class="signup-container">
    <h2>회원 가입 완료</h2>
    <div class="checkmark-container">
      <div class="checkmark">
        <div class="checkmark-circle"></div>
        <div class="checkmark-stem"></div>
        <div class="checkmark-kick"></div>
      </div>
    </div>
    <p class="completion-message">회원 가입이 성공적으로 완료되었습니다!</p>
    <button type="button" onclick="go_login()">로그인</button>
  </div>
</section>
<script src="/js/signup/complete.js"></script>
</body>
</html>