<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/team/teamListView.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/region.js}"></script>
        <script th:src="@{/js/team/teamListView.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section class="content">
            <div class="team-list-div">
                <div class="team-list-header">
                    <input type="text" class="search-bar" placeholder="팀 이름 또는 지역 검색...">
                    <button type="button" class="my-team-btn">내 팀 보기</button>
                </div>

                <div class="team-list">
                    <div th:each="team : ${teamList}" class="team-card">
                        <div class="team-image-div">
                            <img class="team-image" th:src="@{/rest/image(imagePath=${team.imagePath})}" alt="팀 이미지">
                        </div>
                        <div class="team-info">
                            <h2 class="team-name" th:text="${team.name}">팀 이름</h2>
                            <p class="team-region" th:text="${team.regionString}">지역</p>
                            <div class="team-stats">
                                <span class="team-members" th:text="${team.memberNumString}"></span>
                                <span class="team-winrate" th:text="'승률 ' + ${team.winningPercent} + '%'">승률</span>
                            </div>
                        </div>
                        <div class="btn-div">
                            <button class="team-info-button" th:onclick="'viewTeamDetail(' + ${team.id} + ')'">팀 정보</button>
                            <button class="team-apply-button" th:onclick="'joinTeam(' + ${team.id} + ')'">팀 지원</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>