<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/team/teamList.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/region.js}"></script>
        <script th:src="@{/js/team/teamList.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section class="content">
            <div class="team-list-div">
                <div class="team-button-div-mobile">
                    <button type="button" class="team-button-mobile" onclick="showMyTeam()">내 팀 보기</button>
                    <button type="button" class="team-button-mobile" onclick="goToRecruitment()">팀원 모집 보기</button>
                    <button type="button" class="team-button-mobile" onclick="goCreateTeamPage()">팀 만들기</button>
                </div>
                <div class="team-list-header">
                    <input type="text" id="search-word" class="search-bar" placeholder="팀 이름 또는 지역 검색..." oninput="searchTeam()">
                    <button type="button" class="my-team-btn" onclick="showMyTeam()">내 팀 보기</button>
                    <button type="button" class="recruitment-btn" onclick="goToRecruitment()">팀원 모집 보기</button>
                    <button type="button" class="create-team-btn" onclick="goCreateTeamPage()">팀 만들기</button>
                </div>

                <div class="team-list" id="team-list">
                    <div th:each="team : ${teamList}" class="team-card">
                        <div class="team-image-div">
                            <img class="team-image" th:src="@{/api/image(imagePath=${team.imagePath})}" alt="팀 이미지" th:onclick="'viewTeamDetail(' + ${team.id} + ')'">
                        </div>
                        <div class="team-info">
                            <h2 class="team-name" th:text="${team.name}" th:onclick="'viewTeamDetail(' + ${team.id} + ')'">팀 이름</h2>
                            <p class="team-region" th:text="${team.regionString}">지역</p>
                            <div class="team-stats">
                                <span class="team-members" th:text="${team.memberNumString}"></span>
                                <span class="team-winrate" th:text="'승률 ' + ${team.winningPercent} + '%'">승률</span>
                            </div>
                        </div>
                        <div class="btn-div">
                            <button class="team-info-button" th:onclick="'viewTeamDetail(' + ${team.id} + ')'">팀 정보</button>
                            <button class="team-apply-button" th:onclick="'openRequestPop(' + ${team.id} + ')'">팀 지원</button>
                        </div>
                    </div>
                    <div th:if="${teamList.totalElements == 0}" class="no-data">
                        팀을 찾을 수 없습니다.
                    </div>
                    <div th:if="${teamList.totalElements != 0}" th:include="fragments/pagination :: pagination(${currentPage}, ${totalPage})"></div>
                </div>
            </div>

            <!-- 요청 하기 팝업-->
            <div id="request-popup" class="popup-overlay">
                <div class="popup-content">
                    <div class="popup-header">
                        <h2>가입 요청</h2>
                        <button class="close-popup" onclick="closeRequestPop()">X</button>
                    </div>
                    <div class="popup-body">
                        <input type="hidden" id="team-id"/>
                        <textarea id="introduce" class="request-introduce" placeholder="간단한 자기 소개 혹은 홍보를 해주세요."></textarea>
                    </div>
                    <div class="popup-footer">
                        <button class="request-btn" onclick="requestJoin()">요청하기</button>
                        <button class="close-btn" onclick="closeRequestPop()">닫기</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>