<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/matching_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/matching/createMatching.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/common/region.js}"></script>
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <script th:src="@{/js/matching/createMatching.js}"></script>
</th:block>

<div layout:fragment="content" class="container d-flex flex-column align-items-center">
    <div class="basic-title mb-5">경기 생성</div>
    <form class="input-form">
        <div class="mb-5 d-flex flex-column">
            <label for="name" class="basic-input-title ms-2 d-flex flex-row">
                경기명
                <span class="ms-4 align-content-end second-color fs-6 fw-normal">재미있는 경기명은 사람들을 끌어들입니다</span>
            </label>
            <input type="text" class="basic-input" id="name" name="name"/>
        </div>

        <div class="mb-5 d-flex flex-column">
            <label class="basic-input-title ms-2 d-flex flex-row">
                경기 인원
                <span class="ms-4 align-content-end second-color fs-6 fw-normal">경기 진행 인원을 선택해주세요. 한 팀 기준으로 선택해주세요</span>
            </label>
            <div class="mt-4 d-flex flex-column gap-4">
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">경기 참여 인원</div>
                    <div class="radio-mobile d-flex flex-row gap-5">
                        <label class="d-flex flex-column align-items-center fs-6">
                            <input type="radio" name="play-num" value="1">
                            1 VS 1
                        </label>
                        <label class="d-flex flex-column align-items-center fs-6">
                            <input type="radio" name="play-num" value="2">
                            2 VS 2
                        </label>
                        <label class="d-flex flex-column align-items-center fs-6">
                            <input type="radio" name="play-num" value="3">
                            3 VS 3
                        </label>
                        <label class="d-flex flex-column align-items-center fs-6">
                            <input type="radio" name="play-num" value="4">
                            4 VS 4
                        </label>
                        <label class="d-flex flex-column align-items-center fs-6">
                            <input type="radio" name="play-num" value="5">
                            5 VS 5
                        </label>
                    </div>
                </div>
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">최대 모집 인원</div>
                    <div class="d-flex flex-row gap-5">
                        <label class="d-flex flex-row fs-6">
                            <input type="number" pattern="\d*" class="basic-input w-50 text-end" id="max-num" name="max-num" placeholder="인원수 입력">
                            <span class="align-content-center ms-2">명</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column mb-5">
            <label class="basic-input-title d-flex flex-row ms-2">
                경기 일시
                <span class="ms-4 align-content-end second-color fs-6 fw-normal">경기를 진행할 날짜와 시간을 선택해주세요</span>
            </label>
            <div class="d-flex flex-column mt-4 gap-4">
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">날짜 선택</div>
                    <div class="w-75 d-flex flex-row gap-5">
                        <label class="w-50 d-flex flex-row fs-6">
                            <input type="date" class="basic-input long-ver text-center" id="date" th:value="${tomorrow}"
                                   th:min="${tomorrow}" onkeydown="return false"/>
                        </label>
                    </div>
                </div>
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">시작 시간 선택</div>
                    <div class="w-75 d-flex flex-row position-relative gap-5">
                        <label class="w-50 d-flex flex-row fs-6">
                            <input type="text" class="basic-input long-ver text-end cs-p" id="time" value="오후 06:00" onclick="showTimePicker()" readonly/>
                        </label>
                        <div class="time-picker position-absolute hide-toggle bg-white z-1" id="time-picker">
                            <div class="time-picker-list d-flex flex-column" id="period-list">
                                <button type="button" class="time-picker-element" id="am">오전</button>
                                <button type="button" class="time-picker-element select" id="pm">오후</button>
                            </div>
                            <div class="time-picker-list d-flex flex-column" id="hour-list">
                                <button type="button" class="time-picker-element" id="12">12</button>
                                <button type="button" class="time-picker-element select" id="01">1</button>
                                <button type="button" class="time-picker-element" id="02">2</button>
                                <button type="button" class="time-picker-element" id="03">3</button>
                                <button type="button" class="time-picker-element" id="04">4</button>
                                <button type="button" class="time-picker-element" id="05">5</button>
                                <button type="button" class="time-picker-element" id="06">6</button>
                                <button type="button" class="time-picker-element" id="07">7</button>
                                <button type="button" class="time-picker-element" id="08">8</button>
                                <button type="button" class="time-picker-element" id="09">9</button>
                                <button type="button" class="time-picker-element" id="10">10</button>
                                <button type="button" class="time-picker-element" id="11">11</button>
                            </div>
                            <div class="time-picker-list d-flex flex-column" id="minute-list">
                                <button type="button" class="time-picker-element select" id="00">00</button>
                                <button type="button" class="time-picker-element" id="30">30</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">진행 시간 선택</div>
                    <div class="w-75 d-flex flex-row gap-5">
                        <label class="w-100-m w-50 d-flex flex-row fs-6">
                            <input type="number" class="basic-input long-ver text-end" id="hour" placeholder="시간 입력">
                            <span class="align-content-center ms-2">시간</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5 d-flex flex-column">
            <label class="basic-input-title ms-2 d-flex flex-row">
                경기 설정
                <span class="ms-4 align-content-end second-color fs-6 fw-normal">경기의 간단한 설정을 해주세요</span>
            </label>
            <div class="mt-4 d-flex flex-column gap-4">
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 mb-2 align-content-center text-end">경기 종류</div>
                    <div class="d-flex flex-row gap-5">
                        <label class="d-flex flex-column fs-6">
                            <input type="radio" id="team" name="game-kind" value="TEAM" checked>
                            팀 경기
                        </label>
                        <label class="d-flex flex-column fs-6">
                            <input type="radio" id="personal" name="game-kind" value="PERSONAL">
                            개인 경기
                        </label>
                    </div>
                </div>
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">경기 참여팀 선택</div>
                    <div class="d-flex flex-row gap-5" id="team-list">
                        <label class="d-flex flex-column fs-6">
                            <select class="basic-input long-ver" id="team-select" name="team-select">
                                <option value="">팀 선택</option>
                                <option th:each="teamName : ${teamList}" th:value="${teamName}"
                                        th:text="${teamName}"></option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">여성 전용 경기</div>
                    <div class="d-flex flex-row gap-5">
                        <label>
                            <input type="checkbox" class="ms-2" id="is-only-women" value="1"/>
                            여성전용
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5 d-flex flex-column">
            <label class="basic-input-title ms-2 d-flex flex-row">
                경기 장소
                <span class="ms-4 align-content-end second-color fs-6 fw-normal">경기장이 정해져 있다면 경기장 정보를, 없다면 경기를 원하는 지역을 입력해주세요</span>
            </label>
            <div class="mt-4 d-flex flex-column gap-4">
                <div class="sub-input-div d-flex flex-row gap-4">
                    <div class="sub-input-title w-15 me-4 mb-2 align-content-center text-end">경기장</div>
                    <div class="d-flex flex-row gap-5">
                        <label class="d-flex flex-column fs-6">
                            <input type="radio" id="stadium" name="stadium_region_select" value="stadium" checked>
                            경기장 확정
                        </label>
                        <label class="d-flex flex-column fs-6">
                            <input type="radio" id="region" name="stadium_region_select" value="region">
                            경기장 미정
                        </label>
                    </div>
                </div>

                <div class="sub-input-div d-flex-changeable flex-row gap-4" id="stadium-info">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">경기장 주소</div>
                    <div class="d-flex flex-column-m flex-row gap-1">
                        <label class="d-flex flex-row align-items-center fs-6">
                            <input type="text" class="basic-input super-long-ver w-100" id="stadium-load-address" disabled>
                        </label>
                        <input type="hidden" id="stadium-jibun-address" disabled>
                        <button type="button" class="basic-btn" onclick="selectAddress()">주소 검색</button>
                    </div>
                </div>

                <div class="sub-input-div d-flex-changeable flex-row gap-4" id="stadium-info2">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">상세 주소</div>
                    <div>
                        <label class="d-flex flex-row fs-6">
                            <input type="text" class="basic-input super-long-ver w-100" id="stadium-detail-address">
                        </label>
                    </div>
                </div>

                <div class="sub-input-div hide-toggle flex-row gap-4" id="region-info">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">시/도</div>
                    <div class="d-flex flex-row gap-5">
                        <label class="d-flex flex-row fs-6">
                            <select class="basic-input long-ver" id="siDo" name="siDo" onchange="getSiGunGuList()"
                                    required>
                                <option value="">시/도</option>
                                <option th:each="siDo : ${siDoList}" th:value="${siDo}" th:text="${siDo}"></option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="sub-input-div hide-toggle flex-row gap-4" id="region-info2">
                    <div class="sub-input-title w-15 me-4 align-content-center text-end">시/군/구</div>
                    <div class="d-flex flex-row gap-5">
                        <label class="d-flex flex-row fs-6">
                            <select class="basic-input long-ver" id="siGunGu" name="siGunGu" required disabled>
                                <option>시/군/구</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <button type="button" class="basic-btn" onclick="createMatching()">경기 생성</button>
        </div>
    </form>
</div>
</html>