<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/matching/inputScore.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/matching/inputScore.js}"></script>
</th:block>

<div layout:fragment="content">
    <section class="content">
        <h2 class="title">
            경기 점수 입력
        </h2>
        <div class="matching-list">
            <div class="matching" th:each="matching : ${matchingList}">
                <input type="hidden" id="matching-id" th:value="${matching.id}"/>
                <div class="team-info-div">
                    <div class="team-info">
                        <div class="team-name" th:text="${matching.upTeamName}">
                            A팀
                        </div>
                        <input type="number" class="team-score"/>
                    </div>
                    <div class="vs">VS</div>
                    <div class="team-info">
                        <div class="team-name" th:text="${matching.downTeamName}">
                            A팀
                        </div>
                        <input type="number" class="team-score"/>
                    </div>
                </div>
                <div class="matching-info-div">
                    <div class="matching-info" th:text="${#temporals.format(matching.startAt, 'yyyy / MM / dd (HH:mm)')}">
                        2024 / 07 / 12 (15:00)
                    </div>
                    <div class="matching-info" th:text="${matching.regionString}">
                        서울 영등포구
                    </div>
                </div>
                <div class="btn-div">
                    <button type="button" class="submit-btn" onclick="inputScore(this)">
                        점수 등록
                    </button>
                    <button type="button" class="not-matching-btn" onclick="notMatching(this)">
                        경기 미진행
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
</html>